ASPNETCORE_ENVIRONMENT=Production
PORT=5190

Jwt__Key=replace-with-strong-random-key-min-32chars
ConnectionStrings__DefaultConnection=Server=localhost;Port=3306;Database=dlm-app;User Id=root;Password=root;SslMode=Disabled;
